body {
    font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
    font-size: 100%;
    background-color: #101010;
    color:white;
    overflow: hidden;
}
div#chat_room{
    width: 70%;
    height: 340px;
    overflow: scroll;
    overflow-y:scroll;
    overflow-x:hidden;
    float: left;
    /*display: flex;
    #flex-direction: column-reverse;*/
}
div#chat_room a {
    text-decoration: none;
}
div#chat_room a:hover {
    text-decoration:white underline;
}

div#chat_input_field {
    margin-top:5px;
    width:70%;
    float:left;
}
div#book{
    width:28%;
    float:right;
    position: relative;
    top:-25px;
    max-height: 480px;
    font-size: 12px;
    overflow-y: scroll;

}
div#book .formel {
    margin-top:10px;
    cursor: pointer;
    padding:5px;
    border-radius: 5px;
    background-color: #1b1b1b;
}
div#book .formel:nth-child(odd) {
    background-color:#2c2c2c ;

}
div#book .formel:hover {
    color: dimgray;
}

div#chat_room p {
    margin-top:10px;
    margin-right:10px;
    padding:10px;
    border-radius: 5px;
    background-color: #1b1b1b;
    border: 1px dotted #3b3b3b;
    font-size: 12px;
}
div#chat_room p:nth-child(odd) {
    background-color:#141414;
}
div#chat_room .mod p {
    background-color:forestgreen;
}

textarea {
    background-color: #1b1b1b;
    color:white;
    border-radius: 5px;
    padding:5px;
    border: 1px dotted #3b3b3b;
    outline: none;
    height:85px;
    max-height:85px;
    margin-top:15px;
    width: 96%;
    max-width: 96%
}
textarea::selection {

}
div#uglepost a{
    position: relative;
    z-index: 999;
    outline: none;
}
div#uglepost a:hover{
    outline: none;
    text-decoration: white underline;
    color:white;
}


/* Turn on custom 8px wide scrollbar */
::-webkit-scrollbar {
    width: 8px; /* 1px wider than Lion. */
    /* This is more usable for users trying to click it. */
    background-color: #101010;
    -webkit-border-radius: 100px;
}
/* hover effect for both scrollbar area, and scrollbar 'thumb' */
::-webkit-scrollbar:hover {
    background-color: #3b3b3b;
}

/* The scrollbar 'thumb' ...that marque oval shape in a scrollbar */
::-webkit-scrollbar-thumb:vertical {
    /* This is the EXACT color of Mac OS scrollbars.
       Yes, I pulled out digital color meter */
    background: rgba(0,0,0,1);
    -webkit-border-radius: 100px;
}
::-webkit-scrollbar-thumb:vertical:active {
    background: rgba(0,0,0,1); /* Some darker color when you click it */
    -webkit-border-radius: 100px;
}
button {
    background-color: #1b1b1b;
    color:white;
    border-radius: 5px;
    border: 1px dotted #3b3b3b;
    padding:10px;
    margin-left:10px;
    outline: none;
}

input#font-size {
    background-color: #1b1b1b;
    color:white;
    border-radius: 5px;
    border: 1px dotted #3b3b3b;
    padding:10px;
    width:50px;
    margin-left:10px;
    outline: none;
}

button:hover {
    background-color: #141414;
    cursor: pointer;
}
#control_strip {
    width:100%;
    position: relative;
    bottom:75px;
    margin-left:10px
}

select#chat_channel {
    background-color: #1b1b1b;
    color:white;
    border-radius: 5px;
    border: 1px dotted #3b3b3b;
    padding:10px;
    margin-left:10px;
    outline: none;
}
option {
    background-color:#3b3b3b;
}
